[Match]
Name=br-localnet
Kind=bridge

[Network]
VLAN=vlan_management
VLAN=vlan_server
VLAN=vlan_trusted
VLAN=vlan_iot
VLAN=vlan_guest
LinkLocalAddressing=no

[BridgeVLAN]
VLAN=2

[BridgeVLAN]
VLAN=3

[BridgeVLAN]
VLAN=4

[BridgeVLAN]
VLAN=6